<div class="container-fluid p-1" id="mainWrapper">
    <div class="row contact-us m-0">
        <div class="col-12 p-0">
            <img src="/assets/images/writing_pencil2.jpg" width="100%" height="100%">
            <div class="background-text text-center">
                <p>אנו מתמחים</p>
                <p>ראיית חשבון וביקורת, הנהלת חשבונות, ייעוץ מיסים ויעוץ כללי</p>
            </div>
            <div class="background-button text-center">
                <button class="btn btn-primary">צור קשר</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row services m-0">
        <div class="col-md-2 text-center">
            <p><fa-icon [icon]="faEdit"></fa-icon></p>
            <p>טיפול שוטף בהנהלת חשבונות של חברות, עמותות ועצמאים</p>
        </div>

    </div>
</div>
<!-- <div id="about">
    <halaf-about></halaf-about>
</div>
<div id="staff">
    <halaf-staff></halaf-staff>
</div> -->