<div class="container-fluid rtl">
    <br><br>
    <div class="row text-right">
        <div class="col-12 d-xl-none">
            <img src="/assets/images/Logo_Mobile.png" width="100%" height="100%">
        </div>
        <div class="col-1 d-none d-xl-block"></div>
        <div class="col-xl-6 col-12 p-1 text-right">
            <p>משרד חלף את חלף הוקם בתחילת שנת 1986. <br>
                צוות המשרד מונה כ-9 עובדים. <br>
                רואה חשבון מוסמך בעל תואר ראשון בכלכלה וחשבונאות <br>
                כלכלן ויועץ מס מוסמך בעל תואר ראשון בכלכלה וחשבונאות. <br>
                שני יועצי מס מוסמכים וחשבונאים מדופלמים. <br>
                ארבע מנהלות חשבונות וחשבות שכר מדופלמות. <br>
                מנהל מערכות מחשב בעל תואר מנהל רשתות מטעם מייקרוסופט
            </p>
        </div>
        <br>
    </div>
    <div class="row stuff m-0">
        <div class="col-1 d-none d-xl-block"></div>
        <div class="col-11 p-1 text-right">
            <h2 class="stuff-title">אהוד חלף</h2>
            <p>יליד שנת 1957.</p>
            <p>בוגר אוניברסיטת תל אביב במסלול כלכלה וחשבונאות.</p>
            <p>בעל רשיון יועץ מס מוסמך כמו כן מורשה לייצוג בבטוח לאומי ומס הכנסה ומס רכוש ומשרדי מע"מ.</p>
            <p>בוגר קורס מפקחים של משרד האוצר/ מס הכנסה.</p>
            <p>בעל ניסיון רב בעבודת מפקחות במשרד האוצר, אגף מס הכנסה כמפקח מס הכנסה, במשך מספר שנים.</p>
            <p>התמחות בעבודת מפקחות במסגרת חוליית חברות: חברות בנייה , יהלומנים, חברות חקלאיות, קיבוצים, אגודות חקלאיות
                ועמותות ושונות.</p>
            <p>ניסיון רב בייצוג לקוחות כלפי שלטונות מס הכנסה במסגרת משרד עצמאי במשך כ-20 שנה האחרונות.</p>
            <p>ניסיון בהופעות בבתי משפט כעד מומחה והכנת תחשיבים וחישובים פיננסים לבתי משפט של תביעות כלכליות (כולל דמי
                מזונות).</p>
        </div>

    </div>
    <br>
    <div class="row stuff m-0">
        <div class="col-1 d-none d-xl-block"></div>
        <div class="col-11 p-1 text-right">
            <h2 class="stuff-title">עצמון חלף</h2>
            <p>יליד שנת 1964.</p>
            <p>בוגר אוניברסיטת בן גוריון (באר שבע) במסלול כלכלה וחשבונאות.</p>
            <p>בעל רשיון רואה חשבון , ישראל C.P.A. </p>
            <p>בעל ניסיון עבודה במסגרת משרדי רואי חשבון בכלל זה עבודת הנה"ח, ביקורת , ביצוע דו"חות כספיים. עריכת דו"חות
                לביקורת פנים, טיפול ויעוץ בנושאי מס מגוונים.</p>
            <p>בעל ניסיון כחשב ומנהל הכספים של חברות גדולות במשק כגון חברת כלל בטון, ספנטריקס , עבודה מול קונצרנים ,
                איטונג, אזורים. וקיבוצים: פלמחים כולל ניהול פיננסי של שותפויות עבורם.</p>
            <p>במסגרת המשרד כעצמאי, ניסיון רב בעריכת דו"חות כספיים לחברות קטנות ובינוניות בענפים שונים ומגוונים. יעוץ
                ועריכת דו"חות כספיים לעמותות ללא כוונת רווח (מלכ"רים).</p>
            <p>יעוץ ועריכת דו"חות כספיים לחברות גדולות בתחום בתי אריזה בחקלאות , בקבלנות בניין וחומרי בניין. התמחות
                בליווי חברות המצויות בקשיים כלכליים.</p>
        </div>
    </div>
    <br>
    <br>
    <div class="col-12">
        <img src="/assets/images/Logo_Mobile.png" width="100%">
    </div>
</div>