<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-5 col-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="row">
                <div class="col-4">
                    <halaf-staff-image fileName="אהוד חלף, כלכלן ויועץ מס מוסמך"></halaf-staff-image>
                </div>
                <div class="col-8 p-0">
                        יליד שנת 1957.
                        בוגר אוניברסיטת תל אביב במסלול כלכלה וחשבונאות.
                        בעל רשיון יועץ מס מוסמך כמו כן מורשה לייצוג בבטוח לאומי ומס הכנסה ומס רכוש ומשרדי מע"מ.
                        בוגר קורס מפקחים של משרד האוצר/ מס הכנסה.
                        בעל ניסיון רב בעבודת מפקחות במשרד האוצר, אגף מס הכנסה כמפקח מס הכנסה, במשך מספר שנים. התמחות בעבודת מפקחות במסגרת חוליית חברות: חברות בנייה , יהלומנים, חברות חקלאיות, קיבוצים, אגודות חקלאיות ועמותות ושונות.
                        ניסיון רב בייצוג לקוחות כלפי שלטונות מס הכנסה במסגרת משרד עצמאי במשך כ-20 שנה האחרונות. ניסיון בהופעות בבתי משפט כעד מומחה והכנת תחשיבים וחישובים פיננסים לבתי משפט של תביעות כלכליות (כולל דמי מזונות).                        
                </div>
            </div>
            <p>

            </p>
        </div>
    </div>
</div>